<style> 
.logo_div { visibility: hidden; } .fpix_header { visibility: hidden; } .topad { visibility: hidden; } .fpix_asl_table { visibility: hidden; } .profile_text { visibility: hidden; } .nc_profile { visibility: visible; } #left_container { visibility: hidden } #profilephoto { visibility: hidden; } #flash_close_butt { visibility: hidden; } #start_chat_but { visibility: hidden; } #fpix_wrapper { visibility: visible; } body { } </style> <style> span {display:text !important;] </style>

Body {background-color:FFFFFF; cursor:crosshair;}

<div style="overflow: auto"><div id=layer1 style="position:absolute; top:0px; left:0px; width:100%; height:100%; background-color:#000000; background-repeat: off; ">

<iframe width="100%" height="100%" frameborder="0" title="none" src=" http://arundeepchohan2009.wixsite.com/cloak"></iframe>
